<a href="https://colab.research.google.com/github/LuciaRojasMolina/pry_phyton/blob/main/Proyecto_N1.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

#DATA & ANALYTICS - PYTHON
----------------------------
PROYECTO N°1 .  

Nombre: Lucía Natalia Rojas Molina

E-mail: lucinatalia0209@gmail.com

#Ejercicio N°1:
Escribir un programa que pregunte al usuario o genere las ventas
de los últimos 5 días, y muestre por pantalla una serie (Dataframe)
con los datos de las ventas por producto (opcional): Nro de
unidades y precio unitario, indexada por los días, antes y después
de aplicarles un descuento del 5%.
(Diversas opciones de solución: libre)

In [ ]:
# Importando librerías
import pandas as pd

In [ ]:
df = pd.DataFrame({'Productos': ['Teclado', 'Mouse', 'Esferos', 'Cuadernos', 'Impresora'],
                  'Cantidad':[1,3,4,4,1],
                  'Precio':[18,10,0.50,1,150]},
                  index=['Dia1_Venta1', 'Dia2_Venta2', 'Dia3_Venta3', 'Dia4_Venta4', 'Dia5_Venta5'])

df

df.assign(Total=lambda x: x.Cantidad * x.Precio, Total_Descuento=lambda y: y.Total - (y.Total * 0.05))

             Productos  Cantidad  Precio  Total  Total_Descuento
Dia1_Venta1    Teclado         1    18.0   18.0             17.1
Dia2_Venta2      Mouse         3    10.0   30.0             28.5
Dia3_Venta3    Esferos         4     0.5    2.0              1.9
Dia4_Venta4  Cuadernos         4     1.0    4.0              3.8
Dia5_Venta5  Impresora         1   150.0  150.0            142.5

#Ejercicio Nº 2
Escribir un programa que reciba un diccionario con los ingresos
mensuales de los clientes de una empresa, y devuelva una serie
con el ingreso mínimo, máximo y media.
El resultado final debe ser una serie con los estadísticos.

In [ ]:
import pandas as pd

def generarEstadisticas(ingresos):
    serieIngreso = pd.Series(ingresos)
    estadisticos = pd.Series([serieIngreso.min(), serieIngreso.max(), serieIngreso.mean()], index=['Min', 'Max', 'Media'])
    return estadisticos

ingresosEnero = {
    'Cliente1':9, 'Cliente2':6.5,
    'Cliente3':19, 'Cliente4':5
}

ingresosFebrero = {
    'Cliente1':9, 'Cliente2':6.5,
    'Cliente3':19, 'Cliente4':58,
    'Cliente3':25, 'Cliente4':53
}
print('ESTADISTICAS ENERO')
print(generarEstadisticas(ingresosEnero))
print('ESTADISTICAS FEBRERO')
print(generarEstadisticas(ingresosFebrero))

ESTADISTICAS ENERO
Min       5.000
Max      19.000
Media     9.875
dtype: float64
ESTADISTICAS FEBRERO
Min       6.500
Max      53.000
Media    23.375
dtype: float64

#Ejercicio Nº 3
Escribir programa que genere y muestre por pantalla un DataFrame
con los datos de la siguiente tabla:

Mes Ventas Gastos
Enero 30500 22000
Febrero 35600 23450
Marzo 28300 18100
Abril 33900 35700
Mayo 42500 32450

A continuación, generar nuevas columna:
1. Columna 1 = Gasto/Ventas*100.
2. Columna 2 = Si Ventas>= 30000, imprimir “Meta Superada”,
caso contrario imprimir “Meta no Superada”.
3. Columna 3 = Si Gasto>Ventas, calcular el sobre gasto.
4. Obtener el total de las ventas de los últimos 3 meses
5. Obtener el total de gastos de febrero a abril

In [ ]:
import pandas as pd
import numpy as np

datos = {
    'Mes': ['Enero', 'Febrero', 'Marzo', 'Abril', 'Mayo'],
    'Ventas':[30500,35600,28300,33900,42500],
    'Gastos':[2200,23450,18100,35700,32450]
    }
df = pd.DataFrame(datos) 


df['Columna1'] = df['Gastos'] / df['Ventas'] * 100
df['Columna2'] = np.where(df['Ventas'] >= 30000, 'Meta Superada', 'Meta no Superada')

conditions = [
    (df['Gastos'] > df['Ventas'])
    ]
choices = [df['Ventas'] - df['Gastos']]
df['Columna3'] = np.select(conditions,choices, default=0)
totalVentas = np.sum(df['Ventas'].tail(3))
totalGastos = np.sum(df['Gastos'][1] + df['Gastos'][2]+ df['Gastos'][3])

df

       Mes  Ventas  Gastos    Columna1          Columna2  Columna3
0    Enero   30500    2200    7.213115     Meta Superada         0
1  Febrero   35600   23450   65.870787     Meta Superada         0
2    Marzo   28300   18100   63.957597  Meta no Superada         0
3    Abril   33900   35700  105.309735     Meta Superada     -1800
4     Mayo   42500   32450   76.352941     Meta Superada         0

In [ ]:
print('TOTAL VENTAS ULTIMOS TRES MESES:')
print(totalVentas)
print('TOTAL GASTOS DE FEBRERO A ABRIL:')
print(totalGastos)

TOTAL VENTAS ULTIMOS TRES MESES:
104700
TOTAL GASTOS DE FEBRERO A ABRIL:
77250

#Ejercicio Nº 4
Con el siguiente fichero Data - Riesgos.csv contiene información
de riesgo de clientes de un banco. Escribir un programa con los
siguientes requisitos:
1. Generar un DataFrame con los datos del fichero.
2. Mostrar por pantalla las dimensiones del DataFrame, el
número de datos que contiene, los nombres de sus columnas
y filas, los tipos de datos de las columnas, mostrar las 10
primeras filas y las 10 últimas filas, verificar si tiene datos
perdidos/nulos.
3. Extraer las 100 primeras filas y almacenarlas en un
contenedor.